body{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgb(222, 212, 199);
    margin: 2em;
}
h1{
    color: #000;
    text-align: center;
    font-family: Dela Gothic One;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2em;
}